@model That23.Models.Todo
@{
    var item = Model; 
}
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
